<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LIST OF PRODUCTS</h1>
    <div id="products"></div>
    <button onclick="showAllProducts()">show all</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"></script>
    <script>
        async function showAllProducts() {
            const products = await axios.get('http://localhost:3000/products');
            console.log(products);
            const productNode = document.getElementById('products');
            products.data.forEach(product => {
                const childelement = document.createElement('li');
                childelement.innerHTML = product.title;
                productNode.appendChild(childelement);
            })
        }
    </script>
</body>
</html>